<h1>
    My Followers
</h1>


<!-- <ul class="list-group">
    <li class="list-group-item"
    *ngFor="let follower of followers">
    <div>
        
        {{ follower.login }}
        {{ follower.html_url }}
    </div>
    </li>
</ul> -->

<!-- <div class="d-flex align-items-center" 
*ngFor="let follower of followers">
    <div class="flex-shrink-0">
      <img class="avatar" src="{{follower.avatar_url}}" alt="...">
    </div>
    <div class="flex-grow-1 ms-3">
      <h4 class=>{{ follower.login}}</h4>
      <a href="{{follower.html_url}}">{{ follower.html_url }}</a>
    </div>
  </div> -->

  <div class="media" *ngFor="let follower of followers">
    <div class="media-left">
        <a href="">
        <img class="avatar media-object" src="{{follower.avatar_url}}"  alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
          <a [routerLink]="['/followers', follower.login]">{{ follower.login}}</a>
        </h4>
      <a href="{{follower.html_url}}">{{ follower.html_url }}</a>
    </div>
  </div>
